<h2><%= ptt.nama %></h2>
<div>NIM: <%= ptt.nim %></div>
<div>Praktikum: <%= ptt.praktikum %></div>
<div>Nama Mata Kuliah Praktikum: <%= ptt.nama_mata_kuliah_praktikum %></div>
<div>Modul: <%= ptt.modul %></div>
<div>Hari/Tanggal Praktikum: <%= bptt.hari_tanggal_praktikum %></div>
<div>Jam Praktikum <%= ptt.jam_praktikum %></div>
<div>Nama Asisten: <%= ptt.nama_asisten %></div>
<div>NIM Asisten: <%= ptt.nim_asisten %></div>
<div>Kelompok: <%= ptt.kelompok %></div>
<div>Online/Offline: <%= ptt.online_offline %></div>
